body{
  margin:0;
  padding: 0;
  background-color: #202020;
}
h1,h2,p{
	font-family: 'Rajdhani', sans-serif;
	color:#fedd1c;
	
}
p{
 
  letter-spacing: .09;
}
h1{
	font-weight: 100;
	font-size: 44px;
}
a{
	font-family: 'Tajawal', sans-serif;
	text-decoration: none;
	color:#fedd1c;
}

header{
	width: 15%;
	 background-color: #F5F5DC ;
	height: 700px;

	line-height: 60px;
	position: fixed;
	top:0;
  left: 0;
	
}
header ul{
    position: absolute;
  top: 20%;
  left: 20%;
}

header li{
	padding-right: 20px;
	text-align: center;

	
	display: block;
	}

footer{
  position: relative;
  left: 15%;
	width: 85%;
	 background-color: 	#202020;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
footer p{
display: inline-block;
 vertical-align: middle;
 text-align: center;
 font-size: 15px;
 line-height: 23px;
}
footer  a:hover{
	color: #40E0D0;
}



 input[type=checkbox]{
    display: none;
}
header a:hover{
	color: #4682B4;
}

header a{
  color: black;
}
#logo{
	width: 120px;
	position: absolute;
  left: 15%;
	
}

.show-menu {
    
    color: #fedd1c;
    background: none;
    text-align: center;
    padding: 10px 0;
    display: none;
    margin-top: 10px;
    width: 80px;
}

.fa-bars{
  color: #fedd1c;
  width: 80px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size:30px;
  line-height: 30px;

}

.front1{
  background-attachment: fixed;
  
 position: relative;
    background-color: white;
  width: 85%;
  height: auto;
  min-height: 600px;
  left: 15%;
  padding-bottom: 30px;
}
.front1 img{
  position: absolute;
  left: 25%;
  width: 50%;
}

#text{
	position: absolute;
	top: 200px;
	font-family: 'Lato', sans-serif;
	color:#283a90;
	text-align: left;
	width: 400px;
	font-size: 40px;
	margin-left: 40px;
}
#text img{
	position: absolute;
	width: 40%;
	box-shadow: 8px 8px 8px 8px #808080;
	border-radius: 8px;
}
#container{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 90px;
	padding-top: 90px;
	margin-top: -10px;
  position: relative;
  left: 8%;
}
#container p{
  padding-bottom: 16px;
  line-height: 20px;
}
.container2:hover {
	 -webkit-transform: scale(1.1);
	transform: scale(1.1);
  cursor: pointer;
}
.container2{
	background-color: white;
	display: inline-block;
	width: 235px;

	border-radius: 9px;
	height: auto;
	box-shadow: 0px 0px 30px 	#000000;
	 -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.container2 h2{
  text-align: center;
  font-size: 20px;
}
.container2 img
{  width: 50%;
  margin: auto;
  left: 20%;
  position: relative;

}
#trening{
	padding-top: 80px;
	width: 83%;
	padding-bottom: 120px;
  position: relative;
  left: 8%;
  margin: auto;
	
}
#trening h2{
	color: #283a90;
	padding:9px;
}
.container2 p{
	color: #283a90;
	padding: 9px;
}
#trening .container2{
	margin: 20px;

}
.active{
	color: red;
}
#container,#trening  h1{
	text-align: center
}


/* Useful Classes */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#wraper h1{
	text-align: center;
	font-weight: 100;
	font-size: 50px;
	padding-top: 50px;
	padding-bottom: 25px;

	color: #fedd1c;
}
#tim{
 margin-top: 50px;
background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("images/cardio.jpg") ;
  background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
 position: relative;
    background-color: black;
  width: 85%;
 height: 100vh;
  min-height: 100px;
  left: 15%;
  padding-bottom: 240px;
}
#top{
	width: 60px;
	opacity: 0.9;
	position: fixed;
	top: 550px;
	right: 50px;
  z-index: 1;
}
#top img{
	width: 100%
}
#wraper{

}
.tim1{
	display: inline-block;
	width: 250px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	margin: 20px;
	height: 300px;
	background-color: #e0e0e0;
	border-radius: 10px;
}
.tim1 img{
	width: 50%;
	border-radius: 100%
}
#gasa{
	padding-top: 10px;
	opacity: 0.9;
}
.tim1 h2{
	color: #283a90
}
.tim1 h2,p{
	text-align: left;
	padding-top: 10px;
	padding-left: 10px

}


.tim1  p{
	font-style: italic;
	color: #283a90
}
.tim1:hover{
	cursor: pointer;
	border-radius: 10px;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transform: translate(0px, 15px);
		transition: .2s ease-in-out;
}

.tim1:hover img{
	filter: grayscale(100%);
}

#kontakt h1{
	text-align: center;
	padding: 28px;
	color: #283a90;
}
#kontakt{
  
  position: relative;
  left: 15%;
  width:85%;
	 background: linear-gradient(60deg, #696969,#F5F5F5);
	padding-bottom: 28px;
	padding-top: 28px;
}
#kontakt1{
	width: 500px;
	display: inline-block;
	height: 400px;
	

	margin-bottom: 60px;
}
#kontakt1 h3{
	font-family: 'Rajdhani', sans-serif;
  
  color:#283a90;
	font-size: 28px;
	padding: 14px;
}
#kontakt1 h4{
	font-family: 'Rajdhani', sans-serif;
  
  color:#283a90;
	font-size: 20px;

}
#kontakt1 img{
	width: 4%;
	margin-top: 14px;
}
#kontakt1 li{
	display: block;
	padding: 7px;
  font-family: 'Rajdhani', sans-serif;
  
  color:#283a90;
}
#kontakt1 iframe{
  box-shadow: 0px 0px 7px 7px #696969;
  
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#kontakt1 iframe:hover{
  -webkit-transform:scale(1.1);
}

.slider {
  position: relative;
  height: 600px;
  width: 85%;
  left: 15%;
  
  
}
.slider__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider__control {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: #fff;
  transition: background-color 0.3s;
  cursor: pointer;

}
.slider__control--right {
  left: 95%;
}
.slider__control:hover {
  background-color: #202020;
}
.slider__control-line {
  position: absolute;
  left: 23px;
  top: 50%;
  width: 3px;
  height: 14px;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
}
.slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider__control-line {
  left: 37px;
  transform-origin: 1px 0;
  transform: rotate(45deg);
}
.slider__control--right .slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(135deg);
}
.slider__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  transition: background-color 0.3s;
}
.slider__control:hover .slider__control-line:after {
  background-color: #fff;
}
.slider__control.a--rotation .slider__control-line:after {
  animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider__control-line:nth-child(1):after {
  animation: arrowLineRotationRev 0.49s;
}
@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}
@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}
.slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 150vmax;
  transform: translate(-50%, -50%);
 margin-bottom: 15px;
  transition: clip-path 0s 0.91s;
  ;
}
.slide.s--prev {
  
}
.slide.s--active {
  z-index: 1;
  transition: clip-path 1.3s;
 
}
.slide.s--active.s--active-prev {
  clip-path: circle(120vmax at 30vw 50%);
}
.slide:nth-child(1) .slide__inner {
  background-image: url("images/kickboxing.jpg");
}
.slide:nth-child(2) .slide__inner {
  background-image: url("images/kickboxing2.jpg");
}
.slide:nth-child(3) .slide__inner {
  background-image: url("images/kids2.jpg");
}
.slide:nth-child(4) .slide__inner {
  background-image: url("images/kikbox.jpg");
}
.slide:nth-child(5) .slide__inner {
  background-image: url("images/kids.png");
}
.slide__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;
  background-size: cover;
  background-position: center center;
}
.slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.slide__content img {
 width: 40%;

}
.slide__content{
	position: absolute;
	top: 15%;
	right: 70%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.demo {
  position: relative;
  left: 15%;
  display: flex;
  width: 85%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(60deg, #F5F5F5, 		#696969);
}
.demo h1{
	color: #283a90;
}
.demo__gallery {
  width: 688px;
  padding: 2px;
  flex-shrink: 0;
  background: #eee;
  perspective: 700px;
  border-radius: 5px;
}
.demo__part {
  position: relative;
  float: left;
  width: 110px;
  height: 110px;
  margin: 2px;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
}
.demo__part:hover .demo__part-front {
  box-shadow: 0 0 10px black;
  transform: scale(0.96);
}
.demo__part:hover .demo__part-front:after {
  opacity: 0;
}
.demo__part-front, .demo__part-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.demo__part-front {
  background-color: lightslategrey;
  background-size: cover;
  background-position: center;
  transform: rotateX(0deg);
  transition: all 0.2s ease;
}
.demo__part-front:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  opacity: 0.5;
  transition: all 0.2s ease;
}
.demo__part-back {
  transform: rotateY(180deg) rotateX(0deg);
}
.demo__part-back-inner {
  width: 680px;
  height: 452px;
  background-image: url(http://kirillkiyutin.com/img/nyc/nyc1.jpg);
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
}
.demo__help {
  margin-bottom: 7px;
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
}
.demo__help a {
  color: white;
}
.demo__help a:hover {
  color: #e39999;
}
.demo__part-1-1 .demo__part-back-inner {
  transform: translate(0px, 0px);
}
.demo__part-1-2 .demo__part-back-inner {
  transform: translate(-114px, 0px);
}
.demo__part-1-3 .demo__part-back-inner {
  transform: translate(-228px, 0px);
}
.demo__part-1-4 .demo__part-back-inner {
  transform: translate(-342px, 0px);
}
.demo__part-1-5 .demo__part-back-inner {
  transform: translate(-456px, 0px);
}
.demo__part-1-6 .demo__part-back-inner {
  transform: translate(-570px, 0px);
}
.demo__part-2-1 .demo__part-back-inner {
  transform: translate(0px, -114px);
}
.demo__part-2-2 .demo__part-back-inner {
  transform: translate(-114px, -114px);
}
.demo__part-2-3 .demo__part-back-inner {
  transform: translate(-228px, -114px);
}
.demo__part-2-4 .demo__part-back-inner {
  transform: translate(-342px, -114px);
}
.demo__part-2-5 .demo__part-back-inner {
  transform: translate(-456px, -114px);
}
.demo__part-2-6 .demo__part-back-inner {
  transform: translate(-570px, -114px);
}
.demo__part-3-1 .demo__part-back-inner {
  transform: translate(0px, -228px);
}
.demo__part-3-2 .demo__part-back-inner {
  transform: translate(-114px, -228px);
}
.demo__part-3-3 .demo__part-back-inner {
  transform: translate(-228px, -228px);
}
.demo__part-3-4 .demo__part-back-inner {
  transform: translate(-342px, -228px);
}
.demo__part-3-5 .demo__part-back-inner {
  transform: translate(-456px, -228px);
}
.demo__part-3-6 .demo__part-back-inner {
  transform: translate(-570px, -228px);
}
.demo__part-4-1 .demo__part-back-inner {
  transform: translate(0px, -342px);
}
.demo__part-4-2 .demo__part-back-inner {
  transform: translate(-114px, -342px);
}
.demo__part-4-3 .demo__part-back-inner {
  transform: translate(-228px, -342px);
}
.demo__part-4-4 .demo__part-back-inner {
  transform: translate(-342px, -342px);
}
.demo__part-4-5 .demo__part-back-inner {
  transform: translate(-456px, -342px);
}
.demo__part-4-6 .demo__part-back-inner {
  transform: translate(-570px, -342px);
}
.show-front {
  transform: none;
}
#logoTop{
  display: none;
}

@media screen and (max-width: 761px){
 header{
  background: none;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  display: inline-block;
  height: 100px;
}
#logo{
  display: none;
}
#logoTop{
  display: block;
  position: absolute;
  top: 30px;
  left: 60px;
  width: 60px;
  z-index: 3;
}
#logoTop img{
  width:100%; 
}
.show-menu {
       display:block;
      z-index: 1;
       position: fixed;
       top: 10px;
       right: 2px;
       float: right;
       margin-right: 20px;
       
  }
 .show-menu:hover{
    cursor: pointer;
  }

 #menu{
  background-color:  #888;
  margin-top: 0;
  
}
#menu li{
  text-align: left;
  padding-top:15px; 
  padding-bottom: 16px;
  margin-left: 13px;
  line-height: 16px;
}
#menu a{
  font-size: 13px;
  color: #fedd1c;
}

#menu  li a:hover{
  color: black;
  text-decoration: none;

}


.allmenu ul{
  top: 0px;
  opacity: 0.95;
  width: 100%;
  height: auto;
  left: 0;
 
  }
input[type=checkbox]~ #menu li{
    display: none;
}
input[type=checkbox]:checked ~ #menu li{
    display: block;
}
.slider{
  width: 98%;
  left: 0;
  margin: auto;
}
#container{
  left: 0;
  width: 95%;
}
.front1{
  left: 0;
  min-height: 230px;
  width: 100%;
  margin: auto;
}
#trening{
  left: 0.5%;
  width: 95%;
  margin: auto;
}

.container2{
  width: 85%;
   -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.container2:hover {
   -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.container2 img{
  width: 20%;
  margin: auto;
  left: 40%;
  position: relative;
}

#tim{
  left: 0;
  width: 100%;
  height: auto;
}
.tim1{
  width: 70%;
  margin: auto;
  margin-bottom: 32px;
  height: auto;
  padding-bottom: 16px;
}
.tim1 img{
  width: 30%;
}
.demo__part-back-inner{
  margin: 0;
}

.demo{
  padding-top: 200px;
  left: 0;
  width: 100%;
  margin-top: 50px;
  height: 800px;
  margin: auto;
}

.demo__gallery{
  width: 100%;
  margin: auto;
   perspective: 500px;
}
.demo__part{
  width: 15.5%;

}
#kontakt{
  left: 0;
  width: 100%;
  
}
#kontakt1{
  width: 100%;
}
.slide__content img {
 display: none;

}
footer{
  left: 0;
  width: 100%;
}
footer a ,footer p{
  font-size: 12px;
  line-height: 18px;
}
.slide{
  border-radius: 10%;

}
.slider__control{
 margin-left: -20px;
  margin-top: 0px;
  width: 0px;
  height: 0px;
    padding: 30px;
    background: none;
}
.slider__control--right {
  left: 90%;
}
#kontakt1 iframe{
  width: 95%;
}

#top{
  top: 450px;
  right: 20px;
}

}

