body{
  margin:0;
  padding: 0;
  background-color: #FFF8DC;
}
h1,h2{
	font-family: 'Tajawal', sans-serif;
	
	color:#009999;
	
}
a{
	font-family: 'Tajawal', sans-serif;
	text-decoration: none;
	color:#009999;
}

header{
	width: 100%;
	 background-color: 	#FFF8DC;
	height: 50px;
	z-index: 1;
	border-bottom: 1px solid #009999;
	position: fixed;
	top:0;
	
}
header h1{
	margin-right: 36px;
}

img{
	width: 100%;
}
button {
    display: inline-block;
    zoom: 1;
    padding: 6px 20px;
    opacity: 0.9;    
    cursor: pointer;
    border: 1px solid #bbb;
    border-radius: 5px;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    background: linear-gradient(white, #009999);
    height: 40px;

}
header ul{
	text-align: right;
	margin-top: -20px;
		
}
header li{
	padding-right: 20px;
	}
li{
	color:#009999;
	font-family:'Tajawal', sans-serif;
	display: inline-block;
}
div #but {
    width: 35px;
    height: 2px;
    background-color: #00FFFF;
    margin: 4px ;

    border-radius: 24px;
}
 input[type=checkbox]{
    display: none;
}
header a:hover{
	color: #87CEEB;
}
.active {
	color: #A52A2A;
}

#menu{
  z-index: 1;
}

.show-menu {
    font-family:'Tajawal', sans-serif;
    text-decoration: none;
    color: #FF0000;
    background: none;
    text-align: center;
    padding: 10px 0;
    display: none;
    margin-top: 10px;
}

.front{
	 background-image: url("images/code.png");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text{
	position: absolute;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%
}
#text h1{
	font-size: 70px;
	color: #FAEBD7
}
#about h1{
	text-align: center;
}
#about p{
	
	font-size: 19px;
}
#about{
	margin-top: 70px;
}
#aboutme{
	margin-top: -100px;
}
#text h2{
	color: #FAEBD7;
	font-size: 35px;
}
.container  {
  display: inline-block; 
  width: 420px;
  height: 420px;
  margin:22px;
 position: relative;
 
}
.container img{
	border-radius: 22px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
	width: 100%
}
.container p{
	font-family: 'Tajawal', sans-serif;
	color:#009999;
	font-size: 18px;
}
#tech h1{
	text-align: center;
	}
#tech{
	margin-top: 70px;
}
.container1 {
  display: inline-block; 
  width: 150px;
  height: 150px;
  margin:12px;
 position: relative;
 
}

.container2 {
  display: inline-block; 
  width: 230px;
  height: 250px;
  margin:12px;
 position: relative;
 
}
#work{
	width: 65%;
	margin: 0 auto;
	margin-top: 150px;
}
#work h1{
	text-align: center;
}


.container2 :hover{
	color: 		#C0C0C0;

}
#cv{
	margin: 100px;
}
#eduexp{
	margin-top: 70px;
}

.eduexp{
  display: inline-block; 
  width: 450px;
  margin:20px;
  position: relative;
  height: 650px;
  color:#009999;  
  border-radius: 20px;
  border:1px solid #009999;
  background-color: #F5F5DC
	
}
.eduexp:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.eduexp h2{
	text-align: center;

}
#edu li{
	padding: 34px;
	font-size: 17px;
}


.container2 img{
	border-radius: 22px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
	position: relative;
    max-width: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.container2:hover img{
	 -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.container3{
	display: inline-block;
	width: 350px;
	height: 200px;
	 
	border-radius: 20px;
	border:1px solid #009999;
	margin: 20px;
}
.container3 img{
	max-width: 50px;
	
	margin: 20px;
}
.container3 p{
	font-family:'Tajawal', sans-serif;
	color:	#000000;
	font-size: 18px;
	text-align: center;
	
	margin: 5px;
}
.container3 p:hover{
	color: #009999;
	cursor: context-menu;
}
#contact h1{
	text-align: center;
}
#contact{
	margin-top: 100px;
}
.info p{
	padding: 15px;
}

@media screen and (max-width : 500px){
header{
	border: none;
	background: none;
}
    .front{
		background-attachment: scroll;
	}
	#text h1{
	font-size: 35px;
	color: #FAEBD7;
}
	#text h2{
	margin-top: 35px;	
	
	font-size: 20px;
}
	.container  {
 
  width: 350px;
  margin:0px;
  position: relative;
 
}
	.container p{
	text-align: left;
}
.container2{
	width: 90%;
}
.container3{
	width: 300px;
}
.eduexp{
	width: 95%;
	margin: 5px;
}

.show-menu {
        display:block;
        width: 45px;
        float: right;
        border: 2px solid #00FFFF;
        border-radius: 6px;
        margin-right: 20px;
        margin-top: 20px;
        height: 20px;
      
    }

   .allmenu{
      width: 90%;
     height: auto;
      margin-bottom: 15px;
      opacity: 0.95;
    }
    input[type=checkbox]~ #menu li{
    display: none;
}

input[type=checkbox]:checked ~ #menu li{
    display: block;
}
#menu{
	background-color: #F5F5DC;
	border-radius: 7px;
	
}
#menu li{
	text-align: left;
	padding-bottom: 7px;
}
}
