* {box-sizing: border-box}


body {
  font-family: Verdana;
 
  margin:0;
  padding: 0;
}
a, p, h1,h2,h3,h4,li{
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4{
  font-weight: 900;
}
p{
  font-family:'Montserrat', sans-serif, Regular 400;
}
h4{
  color: white;
  }
h1{

  font-size: 48px;
  font-weight: 900;
}

a{
  
   font-weight: 500;
   font-size: 14px;
   letter-spacing: .08em;
}


.top{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  margin-top: 0;
}


.top img{
  width: 100%;


}
.bottom{
   width: 100%;
  height: auto;
 
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
}
.bottom img{
  width: 100%;
}

.middle{
  width: 1280px;
  margin: auto;
  position:relative;

}


.allmenu > ul > li.active > a {
  text-decoration: underline;
}
header{
  position: fixed;
  top: 27px;
  width: 100%;
  background-color: black;
  height: 45px;
  z-index: 2;

}
footer{
  width: 100%;
  background-color: black;
  position: relative;
  height: 110px;

}

header a,footer a{
  text-decoration: none;
}

#logo, #logo1{
  width: 100px;
  position: absolute;
  top: 8%;
  left: 0;
}
#logo img, #logo1 img{
  width: 100%;
}
#logo1{
  top: 35%;
}

#menu li a ,#menu1 li a {
  
  font-weight: 500;
  font-size: 14px;
  margin-left: 46px;
}

#menu li ul li a{
   margin-left: 10px;
}
#menu1 li ul li a{
  font-size: 8px;

}

input[type=checkbox]{
    display: none;
    
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}
input[type=checkbox]:checked ~ #menu2{
    display: block;
}
input[type=checkbox]:checked ~ #menu3{
    display: block;
}

input[type=checkbox]:checked ~ #menu4{
    display: block;
}
.fa-angle-down{
  color: white;
  width: 10px;
}

.allmenu{
position: absolute;
top: -8px;
right: 0;

z-index: 1;

}
.allmenu1{
  position: absolute;
  right: 0;
  top: 0;

}
#menu  li a:hover{
  
  text-decoration: underline;
}
#menu1  li a:hover{
  
  text-decoration: underline;
}

.allmenu li, .allmenu1 li{
  font-size: 11px;
  display:inline-block;
 
  vertical-align: middle;
 
 
  background-color:   black;
  position: relative;
}




.allmenu li a, .allmenu1 li a {
    display:inline-block;
    text-align: center;
    letter-spacing: 0.70px;
    color:  white;
    text-decoration: none;
   

}
.allmenu li a{
  text-align: right;
}

.allmenu ul ul, .allmenu1 ul ul{
  display:none;
  position:absolute;
  top:103%;
  left: 25%;
  background:black;
  padding:0;
    opacity: 0.8;
    padding-top: 10px;


}
.allmenu1 ul ul{
  display:block;
  left: 0%;
  opacity: 1;
  padding-top: 5px;  
 width: 200px;
}
.allmenu ul ul ul
{
  display:none;
  position:absolute;
  top:0%;
  left: 100%;
  background:black;
  padding:0;
   opacity: 1;
   z-index: 2;
  
}



.allmenu ul ul li 
{
  float:none;
  width:140px;
  padding: 10px 5px 6px 5px;
    border-right: none;
   z-index: 1;
    display: block;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.allmenu1 ul ul li{
   width: 160px;
    text-align: left;

}

.allmenu ul ul ul li
{
  float:none;
  width:220px;
   padding: 10px 5px 6px 0px;
    border-right: none;
   z-index: 1;
    display: block;
    text-align: left;
    opacity: 1;
}
#menu ul>li a {
  font-size: 12px;
  
}
#menu1 ul>li a{
  font-size: 10px;
}

#arrow1, #arrow2{
  position: absolute;
  right: 0;
  bottom: 8px;
  padding-right: 8px;
}

.allmenu ul li:hover > ul
{
  display: inline-block;
}
#newsLi{
  width: 130px;
}

.show-menu , .show-menu2 {
    
    text-decoration: none;
    color: white;
    background:  none;
    text-align: center;
    padding: 10px 0;
    display: none;
    margin-bottom: 40px;

}

.show-menu3, .show-menu4{
  display: none;
}

.show-menu1{
  padding:0;
  margin-bottom: 0;
}

 .show-menu:hover, .show-menu2:hover, .show-menu3:hover, .show-menu4:hover {
  cursor: pointer;
 }
.fa-bars{
  color: white;
  width: 30px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size:24px;
  line-height: 24px;

}
.fa-bars:hover{
  color: white;
  
}

.mySlides{
  width: 100%;
}



/* Slideshow container */
.slideshow-container {
 width: 100%;
  position: relative;
  margin: auto;
  top: 52px;

}

.mySlides img{
  width: 100%;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  
}
#pagination{
  position: absolute;
  bottom: 10%;
 left: 45%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white
}



/* The dots/bullets/indicators */
.dot {
 height: 11px;
  width: 11px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active{
  background-color: white;
}
 .dot:hover {
  background-color: white;
  cursor: pointer;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%
}
.centered h1, .centered h2{
  color: white;
  text-align: center;

}
.centered h1{
  line-height: 0px;
}
.centered button{
  position: absolute;
  left: 45%;
  background: none;
  color: white;
  padding: 8px;
  border: 1px solid white;outline: none;
}
.centered button:hover {
  cursor: pointer;
}

.centerText h4{
margin-bottom: -5px;
}

#welcome1{
  width: 1280px;
  margin: auto;
 margin-top: 50px;
}
.welcome{
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
  position: relative;
}

.welcome img {
  width: 100%;
}
.welcome p{
  text-align: left;
  font-size: 12px;
  color: #333333;
}
.welcome button{


  background: none;
  color: black;
  padding: 5px;
  border: 1px solid black;
  outline: none;
}
.welcome button:hover{
  cursor: pointer;
}
.gray{
  color: #333333;
}
.v-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
 padding-top: 90px;
  margin: auto;
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 95%;
}
.roll {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  left:  0px;
}
.project {
  width: 24.2%;
  height: auto;
  background-color: black;
  text-align: center;
  margin: 0 10px 15px 0;
  display: inline-block;
  font-size: 18px;
  padding-top: 0;
  position: relative;
  -webkit-transition: .7s ease;
  transition: .7s ease-in-out;
}

.project img {
  vertical-align: middle;
}

.project:hover img {
  opacity: 0.3;
}
.project:hover{
  background-color: black;
  cursor: pointer;
   bottom: 0;
  height: 100%;
}

.project img {
  
  width:  100%;
  height: auto;

}
.project p {
  margin: 10px;
  text-align: center;
  white-space: normal;
  color: white;
  font-size: 13px;
  line-height: 18px;

}
.centerText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    opacity: 0;
    width: 100%;
    transition: .3s ease;
    -webkit-transition: .7s ease-in-out;
}


.centerText:hover {
  opacity: 1;
}

.sections {
 
  text-align: center;
  color: lightgray;
  font-size: 12px;
}

.sections i {
  margin: 0 2px;
  cursor: pointer;
}

.navigation {
  position:  relative;
  border: none;
  padding: 0;
  background-color: rgba(35,35,35,0.8);
  height: 34px;
  width: 34px;
  color:  #FFF;
  font-size: 20px;
  text-align: center;
  -webkit-transition: .6s ease-in-out;
  z-index: 10;
 cursor: pointer;
}

.navigation:visited  {
  text-decoration: none;
}

.navigation:active {
  text-decoration: none;
}
.navigation:focus {
  outline: none;
}
.navigation:first-of-type {
color: gray;
background: none;
margin-right: 5px;

}
.navigation:last-of-type {
margin-left: 5px;
color: gray;
background: none;
}


.bottomFooter{
  width: 100%;
  height: 30px;
}
.bottomFooter img{
  width: 100%;
}
.bottomTape{
  width: 100%;
  margin-top: 50px;
  position: relative;
  top: 5px;
}
.bottomTape img{
  width: 100%;
}




@media screen and (max-width : 761px) {
 header{
    top: 6px;
    height: 35px;

  }

  .show-menu {
       display:block;
      
       position: absolute;
       top: -10px;
       right: 2%;
      
       margin-right: 20px;
       z-index: 3;

        
  }
  .show-menu2{
    display: block;
    top: -5px;
    right: 6px;
    padding-bottom: 0;
    position: absolute;
  }
  .show-menu3{
    display: block;
    top: 7px;
    right: -15px;
    padding-bottom: 0;
    position: absolute;
  }

  .show-menu4{
    display: block;
    top: 7px;
    right: -15px;
    padding-bottom: 0;
    position: absolute;
  }

  .fa-angle-down{
  padding: 8px;
 
}

  .top{
  
    margin-top: 0;
    top:-8px;
  }

  
#logo{
  width: 55px;

  top: 5px;
  left: 5%;
  
}

#menu li a{
  font-size: 12px;
  margin-left: 0px;
  color: white;
  font-weight: 100;
}


  #menu{
 width: 220px;
 position: absolute;
 left: 0;
 
}
#menu li{
  text-align: left;
  padding: 11px;
}

#menu  li a:hover{
  
  text-decoration: underline;
}

.allmenu{
    margin-top: 13px;
      width: 200px;
     height: auto;
     opacity: 0.95;
    right:8%;
     top: 0;
    }

   input[type=checkbox] ~ #menu li{
    display: none;
}

 .smallMenu input[type=checkbox] ~ #menu2 li{
    display: none;
}

.smallMenu3 input[type=checkbox] ~ #menu3 li{
    display: none;
}

input[type=checkbox]:checked ~ #menu li{
    display: block;
}

.smallMenu input[type=checkbox]:checked ~ #menu2 li{
    display: block;
}
.smallMenu3 input[type=checkbox]:checked ~ #menu3 li{
    display: block;
}
.smallMenu4 input[type=checkbox]:checked ~ #menu4 li{
    display: block;
}


.middle{
  width: 100%;
}

.allmenu ul li:hover > ul
{
  display: none;
}

.allmenu ul ul{
  display:none;
  position:relative;
  padding-bottom: 0;
 left:-10px;
 top: 10px;
  margin-bottom: 0;
}



.allmenu ul ul li a
{
  padding: 0 0 0 0;
  width: 130px;
 font-size: 6px;
    display: block;
    text-align: left;
  margin-left: -12px;
 
}

.allmenu ul ul ul
{
  display:none;
  position:relative;
 left: -10px;
  padding:0;
   opacity: 1;
 
  
}
.allmenu ul ul ul li{
  width: 100px;
}

#arrow1, #arrow2{
  display: none;
}

li, a{
  font-size: 12px;
}
h1{
  font-size: 20px;
  line-height: 20px;
}
h2{
  font-size: 15px;
}

.centered{
  width: 100%
}

.slideshow-container {
 margin-top: 0;
  top: 40px;

}
.centered button{
  position: absolute;
  left: 40%;
  background: none;
  color: white;
  padding: 4px;
  border: 1px solid white;outline: none;
  font-size: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 9px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  
}

.bottom{
   width: 100%;
  height: auto;
 
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
}
.bottom img{
  width: 100%;
}

#pagination{
  position: absolute;
  bottom: 10%;
 left: 35%;
}

.sections {
 
  text-align: center;
  color: lightgray;
  font-size: 6px;
}
#welcome1{
  width: 100%;
  margin: auto;
 margin-top: 50px;
}
.welcome{
  width: 90%;
  margin: auto;
  margin-left: 10px;
}
.allmenu1{
  display: none;
}
.v-centered{
  width: 100%;
}
.project{
  width: 99%;
}

.bottomTape{
position: relative;
top: 5px;
}
#logo1{
  position: absolute;
  top: 15px;
  left: 5%;
  width: 50px
}
}


@media screen and (max-width: 950px) {
    .carousel {
    position: relative;
    overflow: hidden;
    width: 620px;
  }
}
@media screen and (max-width: 655px) {
    .carousel {
    position: relative;
    overflow: hidden;
    width: 310px;
  }
}
