* {box-sizing: border-box}


body {
  margin:0;
  padding: 0;
}
a, p, h1,h2,h3,h4,li,button{
  font-family: 'Montserrat', sans-serif;
}

h2,h3,h4{
  font-weight: 700;
}
p{
  font-family:'Montserrat', sans-serif 400;
}
h4{
  color: white;
  }
h1{

  font-size: 48px;
  font-weight: 800;
}

a{
  
   font-weight: 500;
   font-size: 14px;
   letter-spacing: .08em;
}


.top{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 0;
}


.top img{
  width: 100%;


}
.bottom{
   width: 100%;
  height: auto;
 
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
}
.bottom img{
  width: 100%;
}

.middle{
  width: 1280px;
  margin: auto;
  position:relative;

}


.allmenu > ul > li.active > a {
  text-decoration: underline;
}
.allmenu1 > ul > li.active > a {
  text-decoration: underline;
}
header{

  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
  height: 65px;
  z-index: 1;

}
footer{
  width: 100%;
  background-color: black;
  position: relative;
  height: 110px;

}

header a,footer a{
  text-decoration: none;
}

#logo, #logo1{
  width: 8%;
  position: absolute;
 top: 25px;
  left: 0;
}
#logo img, #logo1 img{
  width: 100%;
}
#logo1{
  top: 35%;
}

#menu li a ,#menu1 li a {
  
  font-weight: 500;
  font-size: 14px;
  margin-left: 50px;
}

#menu li ul li a{
   margin-left: 10px;
}
#menu1 li ul li a{
  font-size: 8px;

}

input[type=checkbox]{
    display: none;
    
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}
input[type=checkbox]:checked ~ #menu2{
    display: block;
}
input[type=checkbox]:checked ~ #menu3{
    display: block;
}

input[type=checkbox]:checked ~ #menu4{
    display: block;
}
.fa-angle-down{
  color: white;
  width: 10px;
}

.allmenu{
position: absolute;
top: 15px;
right: 0;

z-index: 1;

}
.allmenu1{
  position: absolute;
  right: 0;
  top: 0;

}
#menu  li a:hover{
  
  text-decoration: underline;
}
#menu1  li a:hover{
  
  text-decoration: underline;
}

.allmenu li, .allmenu1 li{
  font-size: 11px;
  display:inline-block;
 
  vertical-align: middle;
 
 
  background-color:   black;
  position: relative;
}




.allmenu li a, .allmenu1 li a {
    display:inline-block;
    text-align: center;
    letter-spacing: 0.70px;
    color:  white;
    text-decoration: none;
   

}
.allmenu li a{
  text-align: right;
}

.allmenu ul ul, .allmenu1 ul ul{
  display:none;
  position:absolute;
  top:103%;
  left: 25%;
  background:black;
  padding:0;
    opacity: 0.8;
    padding-top: 10px;


}
.allmenu1 ul ul{
  display:block;
  left: 0%;
  opacity: 1;
  padding-top: 5px;  
 width: 200px;
}
.allmenu ul ul ul
{
  display:none;
  position:absolute;
  top:0%;
  left: 100%;
  background:black;
  padding:0;
   opacity: 1;
   z-index: 2;
  
}


.allmenu ul ul li 
{
  text-align: left;
  float:none;
  width:190px;
  padding: 10px 5px 6px 5px;
    border-right: none;
   z-index: 1;
    display: block;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.allmenu1 ul ul li{
   width: 160px;
    text-align: left;

}

.allmenu ul ul ul li
{
  float:none;
  width:220px;
   padding: 10px 5px 6px 0px;
    border-right: none;
   z-index: 1;
    display: block;
    text-align: left;
    opacity: 1;
}
#menu ul>li a {
  font-size: 12px;
  
}
#menu1 ul>li a{
  font-size: 10px;
}

#arrow1, #arrow2{
  position: absolute;
  right: 0;
  bottom: 5px;
  padding-right: 8px;
}

.allmenu ul li:hover > ul
{
  display: inline-block;
}
#newsLi{
  width: 140px;
}

.show-menu , .show-menu2 {
    
    text-decoration: none;
    color: white;
    background:  none;
    text-align: center;
    padding: 10px 0;
    display: none;
    margin-bottom: 40px;

}

.show-menu3, .show-menu4{
  display: none;
}

.show-menu1{
  padding:0;
  margin-bottom: 0;
}

 .show-menu:hover, .show-menu2:hover, .show-menu3:hover, .show-menu4:hover {
  cursor: pointer;
 }
.fa-bars{
  color: white;
  width: 30px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size:24px;
  line-height: 24px;

}

.mySlides{
  width: 100%;
  margin-bottom: 90px;
}



/* Slideshow container */
.slideshow-container {
 width: 100%;
  position: relative;
  margin: auto;
  top: 52px;

}

.mySlides img{
  width: 100%;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  
}
#pagination{
  position: absolute;
  bottom: 10%;
 left: 47%;
 transform: translate(-10%, -47%);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white
}



/* The dots/bullets/indicators */
.dot {
 height: 11px;
  width: 11px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active{
  background-color: white;
}
 .dot:hover {
  background-color: white;
  cursor: pointer;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 100%;
    -webkit-animation: mymove 2s ; /* Safari 4.0 - 8.0 */
    /* Safari 4.0 - 8.0 */
    animation: mymove 2s ;
    
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 50%;}
    
}

@keyframes mymove {
   0%   {left: 0px;}
    50%  {left: 50%;}
     
}
.centered h1, .centered h2{
  color: white;
  text-align: center;
   text-shadow: 4px 4px 6px #696969;

}
.centered h1{
  line-height: 10px;
}
.centered button{

  position: absolute;
  left: 46%;
  background: none;
  color: white;
  padding: 10px;
  border: 1px solid white;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
   text-shadow: 2px 2px #808080;
   transition: .4s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.centered button:hover{
  background: white;
  color: black;
  text-shadow: none;
}

.centerText h4{
margin-bottom: -5px;
}

#welcome1{
  width: 1280px;
  margin: auto;
 margin-top: 50px;
 margin-bottom: 50px;
}
.welcome{
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
  position: relative;
}

.welcome img {
  width: 100%;
}
.welcome p{
  text-align: left;
  font-size: 12px;
  color: #333333;
}
.welcome button{
  transition: .4s ease-in-out;
  font-size: 14px;
  background: none;
  color: black;
  padding: 6px;
  border: 1px solid black;
  outline: none;
}
.welcome button:hover{
  cursor: pointer;
  background-color: #333333;
  color: white;
  border: 1px solid #333333;
}
.graying{
  color: #333333;
}

.carusel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
 padding-bottom: 30px;
  margin: auto;
}

.project {
  
  height: auto;
  background-color: black;
  text-align: center;
 width: 24%;
  display: inline-block;
  font-size: 18px;
  padding-top: 0;
  position: relative;
  -webkit-transition: .7s ease;
  transition: .7s ease-in-out;
  margin: 7px;
}
.project a{
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-size: 10px;
  padding-bottom: 1px;
}
.slick-arrow button{
  z-index: 3;
  display: block;
}

.project img {
  vertical-align: middle;
}

.project:hover img {
  opacity: 0.3;
}
.project:hover{
  background-color: black;
  cursor: pointer;
   bottom: 0;
  height: 100%;
}
.slick-next{
color: black;
z-index: 1;
}

.project img {
  
  width:  100%;
  height: auto;

}
.project p {
  margin: 10px;
  text-align: center;
  white-space: normal;
  color: white;
  font-size: 13px;
  line-height: 15px;

}
.project h4{
  font-size: 20px;
}
.centerText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    opacity: 0;
    width: 100%;
    transition: .3s ease;
    -webkit-transition: .7s ease-in-out;
}


.centerText:hover {
  opacity: 1;
}



.bottomFooter{
  width: 100%;
  height: 30px;
}
.bottomFooter img{
  width: 100%;
}
.bottomTape{
  width: 100%;
  margin-top: 50px;
  position: relative;
  top: 5px;
}
.bottomTape img{
  width: 100%;
}
#front{
  width: 100%
  height:auto;
  position: relative;
  top: 65px;
}
#front img{
  width: 100%;
}
#frontText{
  position: absolute;
    top: 45%;
   left: 50%;
    transform: translate(-50%, -45%);
   
    width: 1280px;
}
#frontText h1{
  text-align: right;
  color: white;
}
#frontVojna{
  width: 1280px;
  margin: auto;
  margin-top: 65px;
}
#frontVojna img{
  width: 100%;
}
#clients{
  width: 1280px;
  margin: auto;
  margin-top: 150px;
  position: relative;
  margin-bottom: 60px;
}

.headline h2{
  color: black;
  font-weight: 800;
  text-align: left;
}

.headline{

  display: inline-block;
  width: 100%;
}
.gray{
  width: 92%;
  height: 5px;
  background-color:#a9b4c6;
  position: absolute;
  right: 0;
  top: 54%;
}

.sponsors{
  width: 300px;
  display: inline-block;
  margin-bottom: 24px;
}
.sponsors img{
  width: 100%;
}
.line{
  position: relative;
  margin-top: 0px;
}
#gray2{
  width: 95.5%;
}
#gray3{
  width: 87%;
}
#gray4{
  width: 85.5%;
}

#gray5{
  width: 88%;
}
#gray6{
  width: 87.5%;
}
.sponsorsLeft{
  margin-left: 35px;

}

.toTop{

  width: 50px;
  margin: auto;
  cursor: pointer;
}
.toTop img{
  width: 100%;
}
.vojnaLinks{
  position: relative;
  top: 30px;
}
#vojnaLinks1{
color: #b2b2b2;
}
.vojnaLinks a{
  color: black;
  font-weight: 800;
  text-decoration: none;
  margin-right: 20px;
}
#vojnaText{
  width: 1280px;
  margin: auto;
  margin-top: 60px;

}
#vojnaText p{
  padding-bottom: 11px;
  padding-right: 10px;
  font-size: 13px;
}
#vojnaText1{
  width: 70%;
  padding-right: 25px;
  position:relative;
  padding-left: 25px;
}
.vojna1{
  display: inline-block;
}
.vojna1 iframe{
  width: 100%;
  height: 450px;

}
#shadowLeft{
  position: absolute;
  left: 0;
  top: 0;
  height: auto;

}
#shadowRight{
  position: absolute;
  right: 0;
  top: 0;
  height: 500px;
}
#shadowLeft img{
  width: 100%;
}
#vojnaText2{
  width: 29%;
  vertical-align: top;
  padding-top: 6px;
   padding-left: 13px;
}
#vojnaText2 p{
  padding-bottom: 10px;
 
}
#vojnaText2 h4{
   
   margin-bottom: -10px;
   color: black;

}
#leftRight{
  width: 1280px;
  margin: auto;
  position: relative;
  margin-top: 180px;
}
.directions{
  display: inline-block;
  cursor: pointer;
}
#leftDirection{
  position: absolute;
  left: 0;
}
#rightDirection{
  position: absolute;
  right: 0;
}

.gir{
  position: relative;
  top: 100px;
  width: 805px;
  margin: auto;
  margin-bottom: 50px;
}
#equipment{
  margin-bottom: 200px;
}
.gir img{
  width: 100%;
}

.gir button{
  height: 50px;
  color: #adadad;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  outline: none;

}
.gir button:focus, .gir button:hover{
  color: black;
}
.girList, .girList1, .girList2, .girList3{
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  padding-bottom: 20px;
  padding-top: 20px;
}
.girHeadline, .girHeadline1, .girHeadline2, .girHeadline3{
  display: none;
  border-bottom: 1px solid black;
}
.noBorder{
  border: none;
}
#girImg, #girImg1, #girImg2, #girImg3{
  width: 281px;
}
#girImg img, #girImg1 img, #girImg2 img, #girImg3 img{
  width: 100%;
}
#girLi, #girLi1, #girLi2, #girLi3{
  width: 480px;

}
#girLi li, #girLi1 li, #girLi2 li, #girLi3 li{
  text-align: left;
  font-size: 14px;
}
#girLi p, #girLi1 p, #girLi2 p, #girLi3 p{
  text-align: left;
  padding-left: 20px;
}

.socials{
  position: absolute;
  top: 60px;
  right: 30px;
}
.socials i{
  color: white;
  cursor: pointer;
}

.map{
  position: relative;
  top: 160px;
  width: 1280px;
  margin: auto;
 
}
.map iframe{
  margin: auto;
  width: 1280px;
  height: 400px;
}
#contactForm{
  position: relative;
  top: 200px;
  width: 1280px;
  margin: auto;

}
#contactForm h3{
  margin-bottom: -13px;
  padding-top: 10px;
}
.socials1 i{
  color: #949599;
  font-size: 30px;
  padding-top: 30px;
  padding-right: 10px;
}
#contactForm a{
 font-family: 'Montserrat', sans-serif;
 text-decoration: none;
 color: black;
}
.adress{
  display: inline-block;
  vertical-align: top;
}
#adress1{
 
  width: 39%;
}

.container1 {
 
  width:60%;
  margin:0 auto;
  position:absolute;
  top: 0;
  right: 0;
 
 
}
#field1{
  margin-right: 23px;
}

#halfForm{
  width: 100%;
}
.field{
  width: 48.1%;
  display: inline-block;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { 
  font:700 12px/16px 'Montserrat', sans-serif; 
  color:#938f8f;
   }

#contact {
  
  padding-top:30px;
 
}


fieldset {
  border: medium none  !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;

}

#contact input[type="text"], #contact input[type="email"], #contact input[type="message"], #contact input[type="url"], #contact textarea {
  width:100%;
  border: none;
  background:#f5f6f7;
  margin:0 0 5px;
  padding:10px;
  border-radius: 15px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  
}

#contact textarea {
  height:200px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:15%;
 background: #f5f6f7;
  color:#938f8f;
  outline: none;
  margin: auto;
  padding:5px;
  font-size:15px;
  border: none;
  border-radius: 15px;
  
}

#contact button[type="submit"]:hover {
 
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  
  
}
::-webkit-input-placeholder {
 color:#888;

}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

#contactFooter{
  position: relative;
 top: 500px;
}

@media screen and (max-width : 761px) {
 
 header{
    top: 0px;
    height: 35px;
    margin-top: 0;
  }

  .show-menu {
       display:block;
      
       position: absolute;
       top: -5px;
       right: 2%;
      
       margin-right: 20px;
       z-index: 3;

        
  }
  .show-menu2{
    display: block;
    top: -5px;
    right: 6px;
    padding-bottom: 0;
    position: absolute;
  }
  .show-menu3{
    display: block;
    top: 0px;
    right: -20px;
    padding-bottom: 0;
    padding: 7px;
    position: absolute;
  }

  .show-menu4{
    display: block;
    top: 0px;
    right: -20px;
    padding-bottom: 0;
    padding: 7px;
    position: absolute;
  }

  .fa-angle-down{
  padding: 8px;
 
}

  .top{
    top: -6px;
    margin-top: 0;

   
  }

  
#logo{
  width: 55px;

  top: 10px;
  left: 5%;
  
}

#menu li a{
  font-size: 12px;
  margin-left: 0px;
  color: white;
  font-weight: 100;
}


  #menu{
 width: 270px;
 position: absolute;
 left: 0;
 
}
#menu li{
  text-align: left;
  padding: 11px;
}

#menu  li a:hover{
  
  text-decoration: underline;
}

.allmenu{
    margin-top: 13px;
      width: 250px;
     height: auto;
     opacity: 0.95;
    right:8%;
     top: 0;
    }

   input[type=checkbox] ~ #menu li{
    display: none;
}

 .smallMenu input[type=checkbox] ~ #menu2 li{
    display: none;
}

.smallMenu3 input[type=checkbox] ~ #menu3 li{
    display: none;
}

input[type=checkbox]:checked ~ #menu li{
    display: block;
}

.smallMenu input[type=checkbox]:checked ~ #menu2 li{
    display: block;
}
.smallMenu3 input[type=checkbox]:checked ~ #menu3 li{
    display: block;
}
.smallMenu4 input[type=checkbox]:checked ~ #menu4 li{
    display: block;
}


.middle{
  width: 100%;
}

.allmenu ul li:hover > ul
{
  display: none;
}

.allmenu ul ul{
  display:none;
  position:relative;
  padding-bottom: 0;
 left:-5px;
 top: 5px;
  margin-bottom: 0;

}



.allmenu ul ul li 
{
  padding: 0 0 0 0;
  width: 198px;

    display: block;
    text-align: left;
 
 
}

.allmenu ul ul ul
{
  display:none;
  position:relative;
 left: -12px;
  padding:0;
   opacity: 1;
 top: 7px;
  
}
.allmenu ul ul ul li{
  width: 220px;
  text-align: left;
}

.dot {
 height: 6px;
  width: 6px;
 
}

#arrow1, #arrow2{
  display: none;
}

li, a{
  font-size: 12px;
}
h1{
  font-size: 20px;
  line-height: 20px;
}
h2{
  font-size: 15px;
}

.centered{
  width: 100%
}

.slideshow-container {
 margin-top: 0;
  top: 35px;

}
.centered button{
  position: absolute;
  left: 40%;
  background: none;
  color: white;
  padding: 4px;
  border: 1px solid white;
  outline: none;
  font-size: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 9px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  
}

.bottom{
   width: 100%;
  height: auto;
 
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
}
.bottom img{
  width: 100%;
}

#pagination{

  display: none;
}

.sections {
 
  text-align: center;
  color: lightgray;
  font-size: 6px;
}
#welcome1{
  width: 100%;
  margin: auto;
 margin-top: 50px;
}
.welcome{
  width: 90%;
  margin: auto;
  margin-left: 10px;
}
.allmenu1{
  display: none;
}
.v-centered{
  width: 100%;
}
.project{
  width: 99%;
}

.bottomTape{
position: relative;
top: 5px;
}
#logo1{
  position: absolute;
  top: 17px;
  left: 6%;
  width: 50px
}
 .socials{
  
  top: 18px;
 right: 6%;
}
.socials i{
  margin-left: 6px;
}
#front{
  
  top: 33px;
}
#clients{
  width: 95%;
  margin: auto;
  margin-top: 50px;
  position: relative;
  margin-bottom: 30px;
}

.gray{
  width: 82%;
}
#gray2{
  width: 88%;
}
#gray3{
  width: 72%;
}
#gray4{
  width: 69%;
}
#gray5{
  width: 75%;
}
#gray6{
  width: 74%;
}
.sponsorsLeft{
  margin-left: 50px;
}
#frontText{
  width: 85%;
}

footer{

  height: 55px;

}
#vojnaText{
  width: 100%;
  margin: auto;
  margin-top: 60px;

}
#frontVojna{
  width: 100%;
   margin-top: 45px;
}
#vojnaText1{
  width: 100%;
}
#vojnaText2{
  width: 100%;
}

.vojna1 iframe{
  width: 100%;
  height: 150px;

}
#leftRight{
  width: 100%;
}
.vojnaLinks{
  position: relative;
  top: 0px;
}
#leftRight{

  margin-top: 60px;
}

#girLi, #girLi1, #girLi2, #girLi3{
  width: 90%;

}
.map{
  width: 95%;
  top: 120px;
}
.map iframe{
  width: 100%;
  height: 200px;
}

#contactForm{
  
  top: 200px;
  width: 95%;
  margin: auto;

}

#adress1{
 
  width: 95%;
}
.container1 {
  padding-top: 50px;
    position: relative;
  width:95%;
  margin: auto;
}
#field1{
  margin-right: 0px;
}

.field{
  width: 100%;
 
}
#contactFooter{
  top: 200px;
}


}


@media screen and (min-width: 1450px) {
   header{
    height: 75px;
    padding-bottom: 0;
   }
   #logo{
 z-index: 2;
 top: 32px;
 
}
.allmenu{
top: 23px;
padding-bottom: 0;
margin-bottom: 0;

}
}
@media screen and (max-width: 1280px) {
    .middle{
  width: 100%;
 

}
#welcome1{
  width: 100%;
}
.carusel{
  width: 85%;
}

#frontText{

   
    width: 100%;
}


#frontVojna{
  width: 100%;
 
}
#vojnaText{
  width: 100%;
 

}
#leftRight{
  width: 100%;
 
}

.map{
  width: 95%;
  top: 120px;
}
.map iframe{
  width: 100%;
  height: 300px;
}

#contactForm{
  
  top: 200px;
  width: 95%;
  margin: auto;

}



}

@media screen and (max-width: 930px) {
   #menu li a ,#menu1 li a {
  
  
  margin-left: 20px;
}

.vojna1 iframe{
 
  height: 300px;

}

.gir{
  
  width: 90%;
  margin-bottom: 30px;
 
}
.gir button{
  height: 30px;
  
  font-size: 20px;
  }
  .toTop{
    margin-bottom: 75px;
  }

  .map{
  width: 95%;
  top: 120px;
}
.map iframe{
  width: 100%;
  height: 200px;
}

#contactForm{
  
  top: 200px;
  width: 95%;
  margin: auto;

}

#adress1{
 
  width: 95%;
}
.container1 {
    position: relative;
  width:95%;
  margin: auto;
}
#field1{
  margin-right: 0px;
}

.field{
  width: 100%;
 
}
#contactFooter{
  top: 200px;
}
}



