html,body{
    height: 100%;
    margin: 0;

}
@font-face { font-family: Bodoni 72 Oldstyle; src: url('GP.TTF'); }
h1,h2,h3{
	color: #d5ab5d;
	text-align: center;
	  font-family: Bodoni 72 Oldstyle  ;
    letter-spacing: .08em;

}
hr{
	opacity: 0.3;
}
p{
	text-align: center;
	font-size: 17px;
	 font-family: Times New Roman;
	 font-weight: 500;
	 color: #262626;
}

.lang{
	width: 95%;
	
}
.lang a{
	display: inline-block;
	text-decoration: none;
	
	padding: 10px;
}
.allmenu li a{
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
}
a{
	 font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
	 font-weight: 580;
	 font-size: 16px;
	 
}
.lang .active  {
  color: #d5ab5d;
  background-color: #f5f0e6; 
}
.allmenu > ul > li.active > a {
  color: #d5ab5d;
}

.allmenu  > ul > li.active:hover >a {
   
   color: #433317 !important;
}
#header{
	width: 90%;
	margin: auto;
	
	position: relative;
}
#header img{
	width: 20%;
}

#header a{
	text-decoration: none;
}

footer{
	
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("images/5.jpg") ;
	background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
 position: relative;
    background-color: black;
	width: 100%;
	height: auto;
	min-height: 100px;
	
}

footer .text-footer{
	width: 200px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 50px;
}

input[type=checkbox]{
    display: none;
    
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

#front{
	width: 90%;
	margin: auto;
	margin-bottom: 60px;
}

#description1{
	width: 54.9%;
	margin-right: 10px;
	position: relative;
}
#description1 img{
	width: 100%
}
#description2 {
	width: 11%;
	margin-bottom: 10px;
	margin-right: 9px;
	position: relative;
}
#description2 img{
	width: 100%;

}
.one{
	margin-bottom: 11px;
}
.description{
	display: inline-block;
}
#description3{
	width: 43.6%;
	position: relative;
	margin-right: 2px;
}
#description3 img{
	width: 100%;
	
}
#description4{
	position: relative;
	width: 43.7%;
	
	margin-top: 10px;

}

#description5{
	width: 43.1%;
	position: relative;
	margin-right: 9px;
	margin-top: 9px;
	
}
#description5 img{
	width: 100.2%;
}
#description6 {
	position: relative;
	width: 21.09%;
}
#description6 img{
	width: 100.2%;
}
img.expand{
	width: 100%;
}
img .expand1{
	width: 1000px;
}
.middle {
 
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 35%;
 
  text-align: center;
}
.text h1{
	font-size: 25px;
	text-align: left;
	text-transform: uppercase;
}
.text a{
	text-decoration: none;
}
#description5 .middle{
	
  top: 40%;
  left: 30%;
 
}

.one .middle{
	 opacity: 0;
  position: absolute;
  top: 30%;
  left: -5%;
 
  text-align: center;
}
.two .middle{
	top: 65%;
    left: 5%;
 
}
#description3 .middle{
	top:40%;
	left: 20%;
}
#description4 .middle{
	top: 35%;
	left: 35%
}
#description6 .middle {

  top: 35%;
  left: 10%;
 
}
#description1 .middle{
	top: 40%;
}
#description6 .middle h1{
	text-align: center;
}
.one{
	position: relative;
}
#description1:hover{
	background-color: black;
}
#description1:hover img {
  opacity: 0.3;
}

#description1:hover .middle {
  opacity: 1;
}

.text {
 
  color: #d5ab5d;
  font-size: 22px;
  padding: 16px 32px;
}

.one:hover{
	background-color: black;
}
.one:hover img {
  opacity: 0.3;
}

.one:hover .middle {
  opacity: 1;
}
.two:hover{
	background-color: black;
}
.two:hover img {
  opacity: 0.3;
}
.two:hover .middle {
  opacity: 1;
  }

#description3:hover .middle {
  opacity: 1;
}
#description3:hover{
	background-color: black;
}
#description3:hover img {
  opacity: 0.3;
}
#description4:hover .middle {
  opacity: 1;
}
#description4:hover{
	background-color: black;
}
#description4:hover img {
  opacity: 0.3;
}
#description5:hover .middle {
  opacity: 1;
}
#description5:hover{
	background-color: black;
}
#description5:hover img {
  opacity: 0.3;
}
#description6:hover .middle {
  opacity: 1;
}
#description6:hover{
	background-color: black;
}
#description6:hover img {
  opacity: 0.3;
}

#text1{
	width: 90%;
	margin: auto;
}
#text1 p{
	text-align: center;
}

#dance{
	margin-bottom: 60px;
	margin-top: 60px;

}
.cover{
	width: 300px;
	display: inline-block;
}
.cover li{
	color: black;
	margin-bottom: 10px;
	 list-style-type: none;
}
.cover li span{
	color: #d5ab5d;
	margin-right: 5px;
}
.texting{
	width: 25%;
	display: inline-block;
	margin: 30px  0px 150px 60px;
	height: 100px;

}
.texting h2,p,a{
	text-align: left;
}
.texting h2{
	color: #d5ab5d;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;

}
.texting p,a{
	color: 	#778899;
	
	font-size: 14px;
}
#footertext a{
	font-size: 16px;
}
.texting img{
	width: 25%;
	margin-bottom: 200px;
	margin-right: 20px;
	
}


.social{
	
	text-align: right;
	position: absolute;
	top: 20px;
	right: 20px;
}
.social a{
	font-size: 22px;
	text-decoration: none;
}

#program{
	width: 90%;
	margin: auto;
	margin-bottom: 60px;
	margin-top: 15px;
}

#program img{
	width: 100%;
}

#program1{
	width: 90%;
	margin: auto;
	margin-bottom: 60px;
	margin-top: 15px;
}
#program1 img{
	width: 45%;
}
#program2 img{
	width: 10%;
}
.program1{
	width: 90%;
	margin: auto;
}
.program1 p{
	text-align: center;
	
}
.program1 a{
	color: #d5ab5d;
	font-size: 18px;
	text-align: center;

}
.program1 h2{
	margin-top: 40px;
	text-align: center;
}
.ball{
	width: 90%;
	margin: auto;
}
.ball h1,h2{
	text-align: left;
	margin-bottom: 60px;
	margin-top: 60px;
}

#plan{
	width: 90%;
	margin: auto;
	margin-bottom: 90px;
	margin-top: 90px;
}
#plan img{
	width: 90%;
	margin: auto;
}
#cover p{
	text-align: center;
}
#listopen, #listopen1 span{
	color: #d5ab5d;
	margin-left: -15px;
	margin-right: 3px;
}
#listopen, #listopen1 li{
	 font-family: Times New Roman
	 font-size: 17px;
	 font-weight: 500;
	 list-style-type: none;
	 padding-bottom: 17px;
	 text-align: left;

}
#listopen1{
	width: 90%;
	margin: auto;
}
#listopen1 li{

}

#textbackground{
	width: 90%;
	background-color: #d5ab5d;
	padding: 17px;
	margin: auto;
}
#textbackground p{
	color: white;
}

#partnerimg{
	margin-bottom: 34px;
	width: 90%;
	margin: auto;
}#partnerimg img{
	margin-bottom: 34px;
}
.partnerimg2, #partnerimg3{
	width: 90%;
	margin: auto;
}

.partnerimg2 img{
	width: 300px;
	display: inline-block;
	margin: 65px;
}
#partnerimg3 img{
	width: 200px;
	display: inline-block;
	margin: 40px;
}
 #map {
 	margin: auto;
     width: 90%;
     height: 350px;
     background-color: grey;
     margin-bottom: 35px;
   }
   #map iframe{
   	width: 100%;
   	height: 350px;
   }

 .gallery{
	width:90%;
	height:auto;
	margin: auto;
}
 .gallery-wraper{
 	width: 30%;
 	margin: 15px;
 	margin-right: 15px;
 	display: inline-block;
 }
  .gallery-wraper img{
 	width: 100%;
 }
#pagination{
	width: 50px;
	margin: auto;
	position: absolute;
	top: 20px;
	left: 47%;
}
 #btn {
 	width: 100%;
 	position: relative;

 }
#btn-prev{
	float: left;
}
#btn-next{
	margin-left: 77%;
	margin-bottom: 20px; 
}
 #btn button{
 	padding: 12px;
 	color: white;
 	background:#d5ab5d;
 	font-family: "Copperplate-Bol";
 	font-size: 18px;
 	font-weight: 800;
 	cursor: pointer;
 	border: none;
 }
.gallbut{
	display: inline-block;
}

 #btn button:hover{
 	background-color: gray;
 }


.allmenu{
  width: 90%;
  margin: 0 auto;


}
#menu  li a:hover{
	color: #d5ab5d;
	text-decoration: underline;
}
.allmenu ul{
	
	background-color: 	#f5f0e6;
	margin-bottom: 15px;

}
.allmenu li{
	font-size: 20px;
	display:inline-block;
	margin-right: 31px;
}

.allmenu li a {
    display:inline-block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.70px;
    color: 	#433317;
   
    text-decoration: none;

}

.show-menu {
    font-family:inherit;
    text-decoration: none;
    color: #FF0000;
    background:  none;
    text-align: center;
    padding: 10px 0;
    display: none;
    margin-bottom: 40px;

}

 .show-menu:hover{
 	cursor: pointer;
 }
.fa-bars{
	color: #d5ab5d;
	width: 40px;
	padding-bottom: 4px;
	padding-top: 4px;
	font-size:24px;
	line-height: 24px;

}
.fa-bars:hover{
	color: white;
	background-color: #d5ab5d;
}

.clip {
	display: inline-block;
	width: 300px;
	margin: 30px;
}
.clip img{
	width: 100%;
}
#cover1{
	display: none;
}

@media screen and (max-width : 761px){

p {
	font-size: 12px;
}
#listopen li{
	font-size: 12px;
}
.texting p, a{
	font-size: 12px;
}
.texting{
	margin: 30px  0px 80px 30px;
}
h1{
	font-size: 24px;
}
h2{
	font-size: 20px;
}


#header img{
	width: 40%;
}


#menu li a .icon{
	display: none;
}
.show-menu {
       display:block;
      
       position: absolute;
       top: 10%;
       right: 2%;
       float: right;
       margin-right: 20px;
       
  }

#butbackground{
      	position: relative;
      	width: 100%;
      	background-color: #f8f8f8;
      	height: 65px;
      	
      }
#menu{
	background-color:  #d5ab5d;
	margin-top: 0;
	
}
#menu li{
	text-align: left;
	
}
#menu a{
	font-size: 10px;
	color: white;
}
#menu  li a:hover{
	color: black;
	text-decoration: none;
}

   .allmenu{
      width: 100%;
     height: auto;
     opacity: 0.95;

    }
     input[type=checkbox]~ #menu li{
    display: none;
}

input[type=checkbox]:checked ~ #menu li{
    display: block;
}

.show-menu {
        display:block;
        width: 40px;
        float: right;
       
        height: 20px;
      
    }

  #description1 , #description3, .one, .two, #description4, #description5, #description6{
  	width: 100%;
  	margin-bottom: 10px;
  }

   #description2{
   	width: 50%;
   }

#description4 .middle{
left: 30%;
}
 #description6 .middle{
 left: 20%;
 
}
.one .middle{
;
  left: 30%;
 top:40%;
}
.two .middle{
  top:70%;
  left: 35%;

}
 img.expand{
	width: 100%;
}
footer{
	height: auto;
}
.texting{
	width: 90%;
}
.texting img{
	width: 20%;
	
	padding-bottom: 10px;
	margin-right: 20px;
	vertical-align: top;
	
}
.partnerimg2 img{
	margin: 30px;
}
#partnerimg3 img{
	width: 60%;

}
.gallery-wraper{
	width: 95%;
}
 #btn-next{
 	margin-left: 45%;
 }
 #program{
 	width: 95%;
 }
 #program2 img{
 	width: 20%;
 }
 #cover{
 	display: none;
 }
 #cover1{
 	display: block;
 }
 #cover1 p{
 	margin-left: 30px;
 }
 .clip{
 	width: 80%;
 }
 .clip h1{
 	text-align: center;
 }

}
	